<form class="pt-3 px-3">
    <div class="row">
        <div class="col">
            <a class="text-decoration-none fw-bold text-black" th:href="@{/}">JPAboard</a>
        </div>
        <div class="col"></div>
        <div class="col text-end">
            <a class="btn btn-sm btn-primary" th:href="@{/user/login}" th:if="${session.SID eq null}">로그인</a>
            <th:block th:unless="${session.SID eq null}">
                <div class="row">
                    <label class="col-8 text-end">[[${session.userName}]] 님</label>
                    <a class="col-4 btn btn-sm btn-primary" th:href="@{/user/logout}">로그아웃</a>
                </div>
            </th:block>
        </div>
    </div>
</form>
<hr>