<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>JPAboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <header class="sticky-top bg-white" th:insert="common/header.html" id="header"></header>

    <div class="mx-3 my-5">
        <!-- 수정/삭제 -->
        <form class="mb-3">
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" th:href="@{'/post/' + ${board.id} +'/edit'}">수정</a>
                </div>
                <div class="col text-end">
                    <form id="delete-form" th:action="@{'/post/' + ${board.id}}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button class="btn btn-secondary" id="delete">삭제</button>
                    </form>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col">
                <h2 th:text="${board.title}"></h2>
            </div>
            <div class="col text-end">
                <p th:inline="text">작성일 : [[${board.createdDate}]]</p>
            </div>
        </div>

        <p class="mb-3 fs-5" th:text="${board.content}"></p>

        <hr class="mx-5 mt-5">

        <form class="mx-5 my-3" th:insert="comment/write.html" th:action="@{'/post/'+${board.id}+'/comments'}" id="write_comment" method="post"></form>
        <form class="mx-5 my-3" th:if="${commentList ne null}" th:insert="comment/list.html" id="comments"></form>

        <div class="bg-light pb-1" th:insert="common/footer.html" id="footer"></div>
    </div>
</body>
</html>