<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>JPAboard</title>
<!--    <link rel="stylesheet" th:href="@{/css/board.css}"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <!-- HEADER -->
    <header class="sticky-top bg-white" th:insert="common/header.html" id="header"></header>
    <div class="m-3" th:insert="common/banner.html" id="banner"></div>

    <div class="mx-3 my-5">
        <!-- 검색 form -->
        <form class="mb-3 p-2 rounded bg-light" action="/board/search" method="GET">
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" th:href="@{/post}">글쓰기</a>
                </div>
                <div class="col"></div>
                <div class="col input-group text-end">
                    <input class="form-control" name="keyword" type="text" placeholder="검색어를 입력해주세요">
                    <button class="btn btn-secondary">검색하기</button>
                </div>
            </div>
        </form>

        <table class = "table table-hover mb-3">
            <thead>
            <tr>
                <th width="10%">번호</th>
                <th width="30%">글제목</th>
                <th width="30%">작성자</th>
                <th width="30%">작성일</th>
            </tr>
            </thead>

            <tbody>
            <!-- CONTENTS !-->
            <tr scope="row" th:each="board : ${boardList}">
                <td>
                    <span th:text="${board.id}"></span>
                </td>
                <td>
                    <a class="text-decoration-none" th:href="@{'/post/' + ${board.id}}">
                        <span th:text="${board.title}"></span>
                    </a>
                </td>
                <td>
                    <span th:text="${board.writer}"></span>
                </td>
                <td>
                    <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- 페이징 영역 -->
        <div class="text-center">
            <div class="text-center">
            <span th:each="pageNum : ${pageList}" th:inline="text">
                <a class="text-decoration-none" th:href="@{'/?page=' + ${pageNum}}">[[${pageNum}]]</a>
            </span>
            </div>
        </div>

        <!-- FOOTER -->
        <div class="bg-light pb-1" th:insert="common/footer.html" id="footer"></div>
    </div>
</body>
</html>