<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>JPAboard</title>
    <!--    <link rel="stylesheet" th:href="@{/css/board.css}"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <!-- HEADER -->
    <div class="mb-3" th:insert="common/header.html" id="header"></div>

    <div class="mx-3 my-5">
        <form action="/user/join" method="post" enctype="utf-8">
            <div class="mb-3">
                <div class="row m-3">
                    <div class="col-4"></div>
                    <label class="col-1 col-form-label" for="userName">Name : </label>
                    <div class="col-3">
                        <input class="form-control" type="text" id="userName" name="userName" placeholder="~한글 15자, ~영문 30자" maxlength="30" required>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row m-3">
                    <div class="col-4"></div>
                    <label class="col-1 col-form-label" for="userId">ID : </label>
                    <div class="col-3">
                        <input class="form-control" type="text" id="userId" name="userId" placeholder="~영문, 숫자 10자" maxlength="10" required>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row m-3">
                    <div class="col-4"></div>
                    <label class="col-1 col-form-label" for="userPw">Password : </label>
                    <div class="col-3">
                        <input class="form-control" type="password" id="userPw" name="userPw" placeholder="~영문, 숫자, 특수문자 20자" maxlength="20" required>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row m-3">
                    <div class="col-4"></div>
                    <input class="col-4 btn btn-primary" type="submit" value="join">
                    <div class="col-4"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="alert alert-danger" role="alert" th:if="${joinFail ne null}">[[${joinFail}]]</div>
                </div>
                <div class="col-4"></div>
            </div>
        </form>
    </div>

    <!-- FOOTER -->
    <div th:insert="common/footer.html" id="footer"></div>
</body>
</html>