<div class="mb-3 rounded border-light">
  <ul class="list-group">
    <li class="list-group-item m-3 py-3 px-5" th:each="comment : ${commentList}">
      <div class="row">
        <div class="col-6">작성자 : [[${comment.writer}]]</div>
        <div class="col-3 text-end">작성 시간 : [[${comment.createdDate}]]</div>
        <div class="col-3 text-end">수정 시간 : [[${comment.modifiedDate}]]</div>
      </div>
      <div class="row my-5 mx-3" th:text="${comment.content}"></div>
      <div class="row">
        <div class="col-5">
          <div class="row">
            <label class="col-sm-4 col-form-label" for="userPW">비밀번호 : </label>
            <div class="col-sm-8">
              <input class="form-control form-control-sm" type="password" id="userPW" name="password" placeholder="비밀번호" required>
            </div>
          </div>
        </div>
        <span class="col-1"></span>
        <button class="col-2 btn btn-sm btn-primary">수정</button>
        <span class="col-1"></span>
        <form id="delete-form" th:action="@{'/post/' + ${board.id} + 'comments' + ${comment.id}}" method="post">
          <input type="hidden" name="_method" value="delete"/>
          <button class="col-2 btn btn-sm btn-secondary" id="delete">삭제</button>
        </form>
      </div>
    </li>
  </ul>
</div>