<div class="mb-3 p-2 rounded bg-light">
    <input type="hidden" name="board" th:value="${board.id}">

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label" for="writer">작성자 : </label>
        <div class="col-sm-4">
            <input class="form-control form-control-sm" type="text" id="writer" name="writer" placeholder="~한글 15자, ~영문 30자" maxlength="30" required>
        </div>
        <label class="col-sm-1 col-form-label" for="password">비밀번호 : </label>
        <div class="col-sm-4">
            <input class="form-control form-control-sm" type="password" id="password" name="password" placeholder="비밀번호" required>
        </div>
        <div class="col-sm-2 text-end">
            <input class="btn btn-success" type="submit" value="등록">
        </div>
    </div>
    <div class="row m-1">
        <textarea class="form-control" name="content" rows="3"></textarea>
    </div>
</div>